.latest {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.section-title {
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.text-sm {
	font-size: 12px;
	font-weight: lighter;
}

.recipe-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.recipe-aic {
	display: flex;
	align-items: center;
}

.info-icon {
	margin-left: 5px;
	color: var(--red-100);
}
