.navbar {
	padding: 10px 0;
	margin: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar a {
	text-decoration: none;
}

.navbar .explore-btn {
	display: flex;
	align-items: center;
	border: none;
	background: none;
	padding: 5px;
	font-size: 25px;
	cursor: pointer;
}

.navbar .explore-btn:hover {
	color: var(--red-100);
}

@media only screen and (max-width: 1024px) {
	.navbar {
		padding: 20px;
	}
}
