.cuisine-grid {
	display: grid;
	padding: 10px;

	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

@media only screen and (max-width: 1024px) {
	.cuisine-grid {
		padding: 50px;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}
}

@media only screen and (max-width: 480px) {
	.cuisine-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		gap: 5px;
	}
}
